.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  text-align: center;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: aquamarine;

  display: flex;
  flex-direction: column;
  /* 세로 배치 */
  justify-content: center;
  /* 세로 가운데 */
  align-items: center;
  /* 가로 가운데 */
  text-align: center;
}

span {
  font-size: larger;
  color: red;
  font-weight: bolder;
}